@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* END OF RESET -> BEGIN CSS */

html,
body {
  height: 100%;
  font-family: 'Anton', sans-serif;
}

.nav {
  height: 40px; /* Adjust as needed */
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* .subMain-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 40px);
} */

.subMain-container {
  display: flex;
  width: 100%;
  height: 180vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-color: #19002e;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.artist-box {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  width: 100%;
  height: 80vh;
}

.artistContainer {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 80vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.artistContainer img {
  /* position: relative; */
  /* object-fit: fill; */
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  /* border: 4px solid #19002e; */
  overflow: hidden;
  display: flex;
  z-index: 0;
}

/* making a fucking triangle here, this one is LEFT */
.artistContainer.left {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

/* the other triangle RIGHT */
.artistContainer.right {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.artistContainer img {
  /* width: 100%;
  height: 100%;
  object-fit: cover;  
  I tried this stuff above, it was oke, now trying stuff below*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistContainer.left img {
  /* object-position: 100% center; */
  animation: shiftLeft 120s ease-out forwards;
}
.artistContainer.right img {
  /* object-position: 0% center; */
  animation: shiftRight 120s ease-out forwards;
}

.intersect {
  width: 100%;
  height: calc(20vh + 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  height: 80vh;
  width: 100%;
}

/* Fix Map placement - should be on the right */
#map {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;*/
}
/* !trying out a complicated component as a button */
/* .harmonizer-button {
  position: fixed;
  top: 40vh;
  left: 35vh;
  z-index: 1;
} */

/* this is from Wing and I like it */
.input {
  padding: 5px; /* Optional: Add padding to make the input look nicer */
  font-size: 15px; /* Optional: Adjust font size */
  /* border-radius: 50px;  */
  /* This makes the corners rounded */
  border: 1px solid #ccc; /* Optional: Add a border to the input field */
  outline: none; /* Optional: Remove the outline when the input is focused */
  z-index: 1;
  transform: translateX(-50%);
  width: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  opacity: 0.6;
  font-size: 2rem;
}

.input.left {
  bottom: 5%;
  z-index: 2;
}
.input.right {
  top: 5%;
  z-index: 2;
}

.input:focus {
  border-color: #19002e; /* Optional: Change border color when focused */
}

/* jesus fuck what the hell am I doing */
.harmonizer-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 400px;
  width: 400px;
  padding: 0;
}

.harmonizer-button img {
  display: block;
  width: 100%
}

.harmonizer-text {
  z-index: 2;
  /* display:flex;
  text-align: center;
  justify-content: center;
  align-items: center; */
  color: #19002e;
}
/* <<< ANIMATION STUFF DOWN HERE >>> */

.fizzy {
  position: absolute;
  font-size: 2rem;
  font-family: 'Noto Music', sans-serif;
  color: hsl(calc(360 * var(--hue)), 100%, 50%);
  font-size: 10px;
  opacity: 1;
  animation: floatUp 1.5s ease-out forwards;
  z-index: 3;
}

@keyframes shiftLeft {
  0% {
    object-position: 0% center;
  }
  2% {
    object-position: 70% center;
  }
  5% {
    object-position: 80% center;
  }
  20% {
    object-position: 90% center;
  }
  50% {
    object-position: 97% center;
  }
  100% {
    object-position: 100% center;
  }
}

@keyframes shiftRight {
  0% {
    object-position: 100% center;
  }
  2% {
    object-position: 30% center;
  }
  5% {
    object-position: 20% center;
  }
  20% {
    object-position: 10% center;
  }
  50% {
    object-position: 3% center;
  }
  100% {
    object-position: 0% center;
  }
}
