@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* END OF RESET -> BEGIN CSS */

html,
body {
  height: 100%;
  font-family: 'Anton', sans-serif;
}

/* .subMain-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 40px);
} */

.subMain-container {
  display: flex;
  width: 100%;
  height: 180vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-color: #6d3782;
  background-image: url('https://www.transparenttextures.com/patterns/black-thread.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.artist-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.artistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  height: auto;
  position: relative;
}

/* .artistContainer.left {
  align-self: flex-start;
  margin-left: 2%;
}

.artistContainer.right {
  align-self: flex-end;
  margin-right: 2%;
} */

.artistContainer img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
  object-position: center 25%;
}

.input {
  padding: 5px; 
  font-size: 15px; 
  border: 1px solid #ccc; 
  outline: none; 
  z-index: 1;
  width: 30%;
  text-align: center;
  position: absolute;
  opacity: 0.6;
  font-size: 2rem;
  bottom: 5%;
}

.input.left {
  left: 2%;
}

.input.right {
  right: 2%;
}

.input:focus {
  border-color: #19002e;
}

/* Poly clips are fun!
The way this works is that each pair of numbers is an X/Y coordinate that refers to a position relative to the BOX
it is inside of, so 0/0 is top left corner and 100/100 would be bottom right corner. These coordinates represent 2 opposite 
trapezoids that are squished up together to form one rectangle. That way we can load one image in each trapezoid and make it 
look like BATTLE OF THE BANDS or something. */
/* .artistContainer.left {
  clip-path: polygon(0 0, 30% 0, 70% 100%, 0 100%);
}

.artistContainer.right {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%);
} */


/* .artistContainer.left img {
  animation: shiftRight 120s ease-out forwards;
  transform: translateX(-20%);
}
.artistContainer.right img {
  animation: shiftLeft 120s ease-out forwards;
  transform: translateX(20%);
} */

.intersect {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}
.intersect p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  margin: 20px auto;
}

.intersect-button {
  background-color: #19002e;
  color: #ccc;
  padding: 5px 15px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 5px;
  margin-top: 5px;
}

.intersect-button:hover {
  background-color: #4a0072;
}

.map-container {
  height: 80vh;
  width: 100%;
}

/* Fix Map placement - should be on the right */
#map {
  width: 100%;
  height: 100%;
}

.harmonizer-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.harmonizer-button {
  clip-path: inset(18% 22% 21% 27%);
  width: 400px;
  height: 400px;
  cursor: pointer;
  object-fit: contain;
  position: relative;
  background: none;
  transition: transform 3s ease-in-out;
}
.harmonizer-button:hover {
  transform: scale(1.25);
}

/* ! <<< WE ARE HACKING THE MATRIX WITH THIS SHIT >>> */
/* * Since google map markers are rendered to our dom, we overwrite the settings they have  */
/* * with our own shit after they get their google map's official styles. */
/* * We need to use the !Important tag to get them to stick */
/* * if you use the inspect mode, you can find out what the css element is called */
/* Change InfoWindow background and text */
.gm-style-iw .gm-style-iw-d {
  background-color: #19002e !important;
  color: #ccc !important;
  font-family: 'Anton', sans-serif !important;
  border-radius: 8px;
  overflow: hidden !important;
}
.gm-style-iw-ch .gm-style-iw-chr {
  max-height: 10px !important;
  padding: 3px !important;
}

/* Remove default white background shadow */
.gm-style .gm-style-iw-c {
  background: #19002e !important;
}
.gm-style-iw-tc:after {
  background: #19002e !important;
}

/* Style the close button */
.gm-ui-hover-effect {
  filter: invert(1); /* Make the close button white */
}
