/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* END OF RESET -> BEGIN CSS */

.main-container{
  background-color: #ffe2e2;
  min-height: calc(100vh - 60px);
}
.subMain-container{
  background-color: #ffeab6;
  min-height: 80vh;
}
.artistsAndResults-container{
  background-color: #c5ffb6; 
  display: flex;

}
.artists-container{
  background-color: #b6eaff;
}
.Nav{
  background-color: #e0b6ff;
}
.Map{
  background-color: #b6ffe3;
}
.Artist{
  background-color: #ffd7b6;
}
.Intersect{
  background-color: #ffb6b6;
}

/* GOOGLE SAYS TO ADD THIS */
#map {
  height: 95vh;
  width: 50vw;
}
